<title>Find Books for Your Kids</title>
<div id="session_check">
  <div id="container">
      <div id="content">
          <div class="index_main_title">
            <h1 ><strong>Welcome, <%= session_current_user.email%></strong></h1>
            <h6 >Select a Category Below to Choose your Books</h6>
              <%= @title %>
              <%= @isbn %>
              <img src="<%= @picture%>">
          </div>
      </div>
          <div id="sidebar">
            <h3>Check Out Reviews for The Book You Selected</h3>
            <%= @widget %>
          </div>
  </div>
</div>
