
<div class="list">
<br>
<p>Name: <%= @view_dog.name%> </p>
<p>Breed: <%= @view_dog.breed%> </p>
<p>Age: <%= @view_dog.age%> </p><br>
<p>Description: <%= @view_dog.description%> </p><br>
<br><br><br>
<a href="/dogs/<%=@view_dog.id%>/new">Rate this dog!</a>






</div>
